numpy==1.23.5
pandas==2.2.3
scikit-learn==1.6.1
tensorflow==2.16.2
keras==2.12.0
matplotlib==3.9.4
pillow==11.2.1
opencv-python-headless==4.12.0.88
imbalanced-learn==0.12.4
seaborn==0.13.2
tqdm==4.67.1
h5py==3.14.0
scipy==1.13.1
joblib==1.5.1
xgboost==2.1.4
shap==0.48.0

# or 
tensorflow>=2.15.0
keras
pandas
numpy
matplotlib
seaborn
scikit-learn
opencv-python-headless
pillow
h5py